table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Estilos para las celdas de encabezado */
th {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

/* Estilos para las celdas de datos */
td {
  border: 1px solid #ccc;
  padding: 8px;
}

/* Estilos para las filas impares */
tr:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Estilos para resaltar al pasar el ratón por encima */
tr:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
